<? xml version = "1.0"?>
 <Configuration>
 <System.webServer>
 <StaticContent>
 <supprimer fileExtension = ". mem" />
 <remove fileExtension = ". data" />
 <supprimer fileExtension = ". unit3d" />
 <remove fileExtension = ". jsbr" />
 <remove fileExtension = ". membr" />
 <remove fileExtension = ". databr" />
 <supprimer fileExtension = ". Unity3dbr" />
 <supprimer fileExtension = ". jsgz" />
 <supprimer fileExtension = ". memgz" />
 <remove fileExtension = ". datagz" />
 <supprimer fileExtension = ". unit3dgz" />
 <remove fileExtension = ". json" />
 <supprimer fileExtension = ". unitweb" />
 <mimeMap fileExtension = ". mem" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". data" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". Unity3d" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". jsbr" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". membr" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". databr" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". Unity3dbr" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". jsgz" mimeType = "application / x-javascript; charset = UTF-8" />
 <mimeMap fileExtension = ". memgz" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". datagz" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". Unity3dgz" mimeType = "application / octet-stream" />
 <mimeMap fileExtension = ". json" mimeType = "application / json; charset = UTF-8" />
 <mimeMap fileExtension = ". Unityweb" mimeType = "application / octet-stream" />
 </ StaticContent>
 </System.webServer>
 </ Configuration>